<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateLogIn</servlet-name>
        <servlet-class>validateLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validation</servlet-name>
        <servlet-class>Validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>LoginCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shub</servlet-name>
        <servlet-class>shub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jdbc_pdf_report</servlet-name>
        <servlet-class>jdbc_pdf_report</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateLogIn</servlet-name>
        <url-pattern>/validateLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validation</servlet-name>
        <url-pattern>/Validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/LoginCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shub</servlet-name>
        <url-pattern>/shub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jdbc_pdf_report</servlet-name>
        <url-pattern>/jdbc_pdf_report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
